body{
        margin: 0;
    padding: 0;
    font-family: cursive;
}
#navbar1{
width:100%;
    background-color: rgb(20, 13, 214);
overflow: hidden;
}
#navbar1 ul{
    list-style-type: none;
    float:right;
    font-family: cursive; 

}
#navbar1 ul li {
    display: inline-block;
    background-color: rgb(51, 0, 255);
}
#navbar1 ul li a{
    text-decoration-style: none;
    padding:2px 30px;
    text-align: center;
    color: white;
    display: block;
    font-weight: 800;
    text-decoration: underline;
}
body{
    background-color: rgba(230, 33, 8, 0.4);
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(39, 6, 188);
    color: #fff;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(208, 8, 8);
}